<%= component "form" do %>
  <%= form_with(model: moment, local: true) do |form| %>
    <% if moment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(moment.errors.count, "error") %> prohibited this moment from being saved:</h2>

        <ul>
        <% moment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="">
      <%= form.text_field :title, placeholder: "Moment Title" %>
    </div>
    <div class="">
      <%= form.date_select :date %>
    </div>
    <%= form.submit %>
  <% end %>
<% end %>
